<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="/styles/restaurants.css" />
  </head>
  <body>
    <%- include('includes/header') %>
    <main>
      <h1>Recommended Restaurants</h1>
      <% if (numberOfRestaurants ===0) { %>
      <p>None Available - Try Adding</p>
      <% } else {%>
      <p>find your favourite restaurant</p>
      <p>We Found <%= numberOfRestaurants%> Restaurants</p>

      <form action="/restaurants" method="GET">
        <input type="hidden" value="<%= nextOrder %>" name="order" />
        <button class="btn">Change Order</button>
      </form>
      <section id="restaurants">
        <ul id="restaurant-list">
          <% for (const restaurant of restaurants) { %> <%-
          include('includes/restaurants/restaurant-item',
          {restaurant:restaurant}) %> <% } %>
        </ul>
        <% } %>
      </section>
    </main>
  </body>
</html>
