<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Browse Restaurants</title>
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="/styles/restaurants.css" />
  </head>
  <body>
    <header>
      <a href="/index"><h1 id="logo">Eatwell</h1></a>
      <ul>
        <a href="/restaurants">
          <li>Browse Restaurants</li>
        </a>

        <a href="/recommend">
          <li>Share a Restaurant</li>
        </a>

        <a href="/about">
          <li>About Eatwell</li>
        </a>
      </ul>
    </header>
    <main>
      <h1>Recommended Restaurants</h1>
      <% if (numberOfRestaurants ===0) { %>
      <p>None Available - Try Adding</p>
      <% } else {%>
      <p>find your favourite restaurant</p>
      <p>We Found <%= numberOfRestaurants%> Restaurants</p>

      <section id="restaurants">
        <ul id="restaurant-list">
          <% for (const restaurant of restaurants) { %>
          <li class="restaurant-item">
            <article>
              <h2><%= restaurant.name%></h2>
              <div class="restaurant-meta">
                <p><%= restaurant.address%></p>
                <p><%= restaurant.cuisine%></p>
                <p><%= restaurant.description%></p>
              </div>
              <div class="restaurant-action">
                <a href="<%= restaurant.website%>">view site</a>
              </div>
            </article>
          </li>
          <% } %>
        </ul>
        <% } %>
      </section>
    </main>
  </body>
</html>
