<li class="restaurant-item">
  <article>
    <h2><%= restaurant.name%></h2>
    <div class="restaurant-meta">
      <p><%= restaurant.address%></p>
      <p><%= restaurant.cuisine%></p>
      <p><%= restaurant.description%></p>
    </div>
    <div class="restaurant-action">
      <a href="<%= restaurant.website%>">view site</a>
    </div>
  </article>
</li>
